@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* main group sidebar */
.main-scrollbar::-webkit-scrollbar {
  background-color: transparent;
  width: 7px;
  height: 3px;
  border-radius: 2px;
}
.main-scrollbar::-webkit-scrollbar-track {
  @apply bg-transparent;
}
.main-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-gray-400/60 rounded-lg transition-all duration-200  hover:bg-gray-400/70 dark:bg-gray-600 dark:hover:bg-gray-500;
}

.forcast-scrollbar::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
  height: 13px;
  border-radius: 5px;
}
.forcast-scrollbar::-webkit-scrollbar-track {
  @apply bg-transparent;
}
.forcast-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-gray-400/50 rounded-lg transition-all duration-200  hover:bg-gray-400/70 dark:bg-gray-700 dark:hover:bg-gray-700;
}
